*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::after, *::before{
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    display: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
}
a:visited{
    color: inherit;
}
:root{
    --mainColor: #49c5b0;
    --maiLightColor: #8de6d7;
    --secondaryColor:#4960d1;
    --acentColor:#3fa636;
    --text:whitesmoke;
    --text:whitesmoke;
    --darkText:rgb(44, 44, 44);
    --darkLightText:rgb(80, 80, 80);
    --darkShadow: rgba(0, 0, 0, 0.11);
    --header-height:6rem;
    --border-radius:.2rem;
    --section-title:1.6rem;

}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--darkText);
    /* background: linear-gradient(45deg, var(--mainColor) 40%, var(--maiLightColor) 80%,  #8de6d7a9); */
    background: rgba(20, 20, 20, 0.644)505;
}

.header{
    position: fixed;
    height: var(--header-height);
    z-index: 5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    width: 100vw;
    color: var(--darkText);
    background: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(0.1rem);
}
.headerActive{
    background: rgba(150, 150, 150, 0.295);

}
.banner{
    width: 100vw;
    font-size: .8rem;
    text-align: center;
    padding: 0.3rem 0;
    background: #1a1a1ad2;
    color: var(--text);

}
.divisor{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background:var(--text);
    left: 0;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 6.5rem;
}

svg{
    max-height: 4.2rem;
    max-width: 4.2rem;
    transform: scale(0.8);

}
.pathLogo{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:var(--mainColor);
    width: 100%; 
    height: auto;
    filter:drop-shadow(0.2rem 0.2rem 1px #050505)

}

.logo-description{
    font-size: 1.1rem;
    color: var(--darkText)
}
.nav{
}
.nav__list{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
}
.nav__item{
    margin: 0 1.5rem;

}
.socialMedia{
    display: flex;
    width: 6rem;
    align-items: center;
justify-content: space-around;
}
.socialMedia {
    cursor: pointer;
}

/*
        <button class='fixed-btn'>
            <i class="fab fa-whatsapp"></i>
        </button>
*/
.fixed-btn{
    position: fixed;
    z-index: 4;
    bottom: 1rem;
    right: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: none;
    background: #25d366;
    color:#ffffff;
    font-size: 2.5rem;
}
section{
    width: 100vw;
    min-height: 100vh;
    padding-top: calc(var(--header-height) + 0.5rem);
    overflow-y: auto;
}

/* 👯‍♀️ Sección Team 👯‍♀️*/
.equipo{
    position: relative;
    font-size: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.equipo h3{
    font-size: 1.8rem;
}
details{
  width: 55%;
  height: auto;
  font-size: 1.1rem;
  margin: 1rem 0 0.2rem 0;
  box-shadow: 0 0 0.2rem .05rem rgba(0, 0, 0, 0.13);
  border-radius: 0.1rem;
  overflow: hidden;
}

summary {
  padding: 0.7rem;
  display: block;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent var(--acentColor);
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .15s transform linear;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details[open] summary ~ * {
    animation: sweep .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  @keyframes sweep {
    0%    {opacity: 0; transform:translateY(-2rem)}
    100%    {opacity: 1; transform:translateY(0)}
    
  }
details summary::-webkit-details-marker {
  display:none;
}

.equipoCardsContainer{
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-flow: row wrap;
    /* en responsive hacerlo center */
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    align-content: center;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 .5rem 0.2rem var(--darkShadow);
}

.card{
    transition: transform .1s ease-in-out;
    height: 15rem;
    width: 12rem;
    background: var(--text);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 0.3rem;
}
.cardHeader{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image{
    height: 90%;
    max-width:auto;
    border-radius: 0.2rem;
}
.cardDescription{
    padding: 0.3rem 10%;
}
.cardDescription h4{
    font-size: 1rem;
    font-weight: bold;
}
.cardDescription h6{
    font-size: 0.8rem;
    color: var(--darkLightText);
}
.cardFooter{
    display: flex;
    gap: 0.45rem;
    padding: 0.2rem 10%;
    font-size: 0.9rem;
    font-weight: lighter;
    
}
.socialmediacontainer{
    height: 1.2rem;
    width: 1.2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background:var(--darkShadow)
}

/* Sección Ubicacion 📌 */
.ubication{
    position: relative;
    height: 100vh;
}
.map{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    filter: grayscale(0.5);
    border: none;
}

.contact-card{
    position: absolute;
    z-index: 2;
    width: 24rem;
    height: 12rem;
    padding: 2rem;
    background: var(--acentColor);
    color: var(--text);
    top: 75%;
    left: 75%;
    transform: translate(-50%,-50%);
    line-height: 2.5rem;
    border-radius: var(--border-radius);
}
.contact-card h1{
    word-spacing: 0.5rem;
}

/*Section About*/
.about{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-around;
    height: 100vh;
}
.about-text{
    position: relative;
    height:100%;
    width: 45%;
}
/* <h2 class="about-title"><span class="text-emphasis">¿</span>Quiénes somos<span class="text-emphasis">?</span></h2>
<p class="about-contain"> */
.about-title{
    font-size: var(--section-title);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.text-emphasis{
    font-size: calc(var(--section-title) + 1rem);
    margin: 0 .3rem;
}

.about-contain{
    line-height: 1.5rem;
}
.about-contain p {
    margin: 0.5rem;
    text-align: justify;
}
.about-img{
    position: relative;
    height:100%;
    width: 35%;
    background: url('https://source.unsplash.com/random/1000x1000');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}